{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-3">Bienvenue</h1>
        <p class="lead">Mettre en relation les voyageurs et les autres</p>
        <hr class="my-4">
        <p>Vous êtes voyageurs connectez-vous</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir</a>
        </p>
    </div>
    <h2 class="h1 my-5">Nos appartements</h2>
    <div class="row">
        {% for data in ads %}
            {% include "ad/_ad.html.twig" with {'ad': data.annonce } %}
        {% endfor %}
    </div>
    <H2 class="h1 mt-3 mb-4">Les propriétaires</H2>
    <div class="row">
        {% for data in users %}
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">{{ data.user.fullName }}</h4>
                        <hr>
                        <div class="card-text">
                            <img src="{{ data.user.picture }}" alt="Avatar de {{ data.user.fullName }}" class="float-left mr-3">
                            <p>{{ data.user.introduction }}</p>
                            <a href="{{ path('user_show', {'slug': data.user.slug }) }}" class="btn btn-success float-right">Voir</a>
                        </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}