{% extends 'admin/base.html.twig' %}

{% block title %}Administration des réservations{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Administration des réservations</h1>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Date</th>
                    <th class="text-left">Visiteur</th>
                    <th class="text-center">Annonce</th>
                    <th class="text-center">Durée</th>
                    <th class="text-center">Montant</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for booking in pagination.data %}
                <tr>
                    <td class="text-center">{{booking.id}}</td>
                    <td class="text-center">{{booking.createdAd|date('d/m/Y H:i')}}</td>
                    <td class="text-left"><img src="{{booking.booker.picture}}" alt="" class="avatar avatar-micro"> {{booking.booker.fullName}}</td>
                    <td class="text-center">{{booking.ad.title}}</td>
                    <td class="text-center">{{booking.duration}}</td>
                    <td class="text-center">{{booking.amount | number_format(2, ",", " ")}} &euro;</td>
                    <td class="text-center">
                        <a href="#" class="btn btn-primary">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a href="#" class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination.display() }}
    </div>
{% endblock %}
