<nav aria-label="Page navigation example" class="d-flex justify-content-center">
                    <ul class="pagination">
                        <li class="page-item {% if page == 1 %}disabled{% endif %}">
                            <a class="page-link" href="{{ path(route, {'page': page - 1}) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% for i in 1..pages %}
                            <li class="page-item {% if page == i %}active{% endif %}"><a class="page-link" href="{{ path(route, {'page': i}) }}">{{ i }}</a></li>
                        {% endfor %}
                        <li class="page-item {% if page == pages %}disabled{% endif %}">
                            <a class="page-link" href="{{ path(route, {'page': page + 1}) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>