{% extends 'base.html.twig' %}

{% block title %}Réserver l'annonce : <em>{{ad.title}}</em>{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
{% endblock %}


{% block body %}
	<div class="container">
		<h1>Réservez pour l'annonce :
			<em>{{ ad.title }}</em>
		</h1>

		<p>Vous êtes sur le point de réserver le bien de
			<strong>{{ ad.author.fullName }}</strong>, dites nous tout, on s'occupe du reste !</p>

		{{ form_start(form) }}
		<div class="alert alert-light">
			<h4 class="h4">Commencez par nous dire quelles sont les dates qui vous intéressent !</h4>
			<div class="row">
				<div class="col">
					{{form_row(form.startDate)}}
				</div>
				<div class="col">
					{{form_row(form.endDate)}}
				</div>
			</div>
			<h4 class="mt-2">Montant du séjour : <span id="amount"></span> &euro;</h4>
			<span id="days"></span> nuit(s) à {{ad.price | number_format(2, ',', ' ') }} &euro; par nuit
            <h4 class="mt-3">Vous avez un commentaire ?</h4>
			{{ form_row(form.comment) }}
		</div>


		<h2>Vous avez terminé !</h2>
		<p>Vacances de rêve ? Hébergement pour le boulot ? Peu importe, on est avec vous !</p>

		<button type="submit" class="btn btn-success">Je réserve !</button>

		{{form_end(form)}}

	</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function(){
            $('#booking_startDate, #booking_endDate').datepicker({
                format: 'dd/mm/yyyy',
                datesDisabled: [
                    {% for day in ad.notAvailableDays %}
                        "{{ day.format('d/m/Y') }}",
                    {% endfor %}
                ],
                startDate: new Date()
            });
            $('#booking_startDate, #booking_endDate').on('change', calculateAmount);
        });

        function calculateAmount() {
            // On chope les dates
            const endDate = new Date(
                $('#booking_endDate')
                    .val()
                    .replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1')
            );
            
            const startDate = new Date(
                $('#booking_startDate')
                    .val()
                    .replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1')
            );
            if(startDate && endDate && startDate < endDate){
                const DAY_TIME  = 24 * 60 * 60 * 1000;
                const interval  = endDate.getTime() - startDate.getTime();
                const days      = interval / DAY_TIME;
                const amount    = days * {{ ad.price }};
                $('#days').text(days);
                $('#amount').text(amount.toLocaleString('fr-FR'));
            }
        }
    </script>
{% endblock %}
    