body {
    background-color: lightgray;
}

div.container {
    margin-top: 20px;
}

div.new-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.new-title h1,
div.new-title p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
