{% set url = path('ads_show', {'slug': ad.slug}) %}
<div class="col-md-4">
	<div class="card bg-light mb-3">
		<div class="card-header text-center">
			{{ ad.rooms }} chambres, <strong>{{ ad.price | number_format(2, ',', ' ') }} &euro; / nuit</strong><br>
			{% if ad.comments|length > 0 %}
				{% include 'partials/rating.html.twig' with {'rating': ad.avgRatings} %}
			{% else %}
				<small>Pas encore noté</small>
			{% endif %}
		</div>
		<a href="{{ url }}"><img src="{{ ad.coverImage }}" alt=""
				style="height: 200px; width: 100%; display:block;"></a>
		<div class="card-body">
			<h4 class="new-title">
				<a href="{{ url }}">{{ ad.title }}</a>
			</h4>
			<p class="card-text">{{ ad.introduction }}</p>
			<a href="" class="btn btn-link">
				<i class="far fa-thumbs-up"></i>
				<span class="js-likes"></span>
				<span class="js-label">J'aime</span>
			</a>
			<a href="{{ url }}" class="btn btn-primary float-right">Voir</a>
			{% if app.user and app.user == ad.author %}
			<a href="{{ path('ads_edit', {'slug': ad.slug}) }}" class="btn btn-secondary">Modifier</a>
			{% endif %}
		</div>
	</div>
</div>