{% extends "base.html.twig" %}

{% block title %}
    Page non trouvé
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Oops la page que vous recherchez n'existe pas</h1>

        <a href="{{ path('home') }}" class="btn btn-primary">Acceuil</a>
        <a href="{{ path('ads_index') }}" class="btn btn-primary">Nos annonces</a>
    </div>
{% endblock %}